* {
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
    height: 100vh;
    display: flex;
}

main {
    display: grid;
    grid-template-areas: 
    'a a a b b'
    'a a a b b'
    'c c d d d'
    'c c e e e'
    ;
    width: 40%;
    margin: auto;
  
    gap: 10px;
    
}

div {
    padding: 2em;
    text-align: center;
}

.box1 {
    background-color: orangered;
    grid-area: a;
}
.box2 {
background-color: orange;
grid-area: b;
}
.box3 {
    background-color: green;
    grid-area: c;
}
.box4 {
    background-color: royalblue;
    grid-area: d;
}
.box5 {
    background-color: royalblue;
    grid-area: e;
}
