* {
    margin: 0;
    padding: 0;
   
}

body {
    background-color: hsl(0, 0%, 95%);
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
    height: 100vh;
}

.image {
    margin-bottom: 40px;
}

p {
    color: white;
    font-size: 15px;
    margin-bottom: 70px;
    font-family: 'Lexend Deca', sans-serif;
    
}

h1 {
    margin-bottom: 40px;
    color: white;
    font-family: 'Big Shoulders Display', cursive;
}


.sedans {
    background-color: hsl(31, 77%, 52%);
    padding: 2em;
    width: 100%;
}

.suvs {
    background-color: hsl(184, 100%, 22%);
    padding: 2em;
    width: 100%;
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    padding: 2em;
    width: 100%;
}

button {
    background-color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 30px;
}

.sedans button {
        color: hsl(31, 77%, 52%);
}
.suvs button {
   color: hsl(184, 100%, 22%);
}
.luxury button {
    color: hsl(179, 100%, 13%);
}

.sedans button:hover {
    background-color: hsl(31, 77%, 52%);
}
.suvs button:hover {
    background-color: hsl(184, 100%, 22%);
}
.luxury button:hover {
    background-color: hsl(179, 100%, 13%);
}

button:hover {
    border: 1px solid white;
    cursor: pointer;
    color: white;
}



